@media screen and (min-width: 1024px){
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}

    .article-hd {
        font-size: 42px;
    }
    main {
        max-width: 1200px;
        margin: 0 auto;
    }

    p {
        max-width: 850px;
        margin: 0 auto;
        font-size: 22px;
    }
    .article-body-info > p {
        font-size: 20px;
        opacity: 0.6;
        font-style: italic;
    }
    .bai_vietThem {
        padding-bottom: 60px;
    }
    h1 {
        font-size: 48px;
    }
    

    .comment_header input , .comment_header button{
        font-size: 18px;
    }
    .comment_header button:hover {
        cursor: pointer;
    }


    .comment-content {
        max-width: 850px;
        margin: 0 auto;
        
    }

}