@media screen and (min-width: 1024px){
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}

    a:hover {
        cursor: pointer;
    }
    .ngang, .ngang_2{
        display: flex;
        gap: 5%;
        height: 100%;
    }
    .ngang img , .ngang_2 img {
        height: 100%;
        max-width: 50%;
    }
    .ngang .article-body , .ngang_2 .article-body {
        box-shadow: none;
        background-color: transparent;
    }
    

    .ngang_2 {
        height: 150px;
        margin-bottom: 20px;
    }

    .article-first {
        height: 300px;
    }

    .for_you-left .heading {
        display: flex;
        align-items: center;
    }

    .for_you-left .heading .dont_forget {
        width: 50%;
    }

    .for_you-left .heading a {
        margin: 0 10px;
    }


    .authors , .donate  {
        box-shadow: 0 0 1px black;
    }

    .dont_forget-info {
        display: flex;
    }

    .authors {
        margin-bottom: 30px;
    }

    .small_author {
        display: flex;
        padding-left: 5px;
        padding-bottom: 15px;
        align-items: center;
    }

    .small_author img {
        border-radius: 50%;
        width: 60px;
        height: 60px;
        margin: 10px 10px 0;
    }

    .small_author .h2 {
        display: block;
        font-size: 18px;
    }

    .small_author .h2:hover {
        cursor: pointer;
    }

    .small_author a {
        margin-right: 10px;
        font-size: 16px;
    }

    .small_author span {
        opacity: 0.6;
    }
}